<div class="container-fluid bg-white">
  <div class="container margin-top-60">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div ng-if="!paginationData.length">
          {{noReviewText}}
        </div>
        <div ng-if="paginationData.length">
          <div ng-controller="PaginationController">
            <div class="comment" ng-repeat="reviewData in paginationData | startFrom:paginationCurrentPage * paginationPageSize | limitTo:paginationPageSize">
              <div rating rating-value="ratingCount" max="5" star-size="1" readonly="true" rating-css="rating-star-big-padding"></div>
              <h3 class="text-pink">{{reviewData.reviewTitle}}</h3>
              <p>{{reviewData.reviewDescription}}</p>
              <div class="author-info">
                <span class="name">{{reviewData.reviewedBy}}</span>
                <span class="level">{{reviewData.reviewedByLevel}}</span>
              </div>
            </div>
            <nav class="text-center" dir-pagination></nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>